<li class="ajax_block_product col-xs-12">
  <div class="product-container">
    <div class="row">
      <div class="left-block col-xs-5 col-md-2">
        <div class="product-image-container">
          <a rel="nofollow" class="product_img_link" href="https://b2b.rombor.com.pl/l-kulkowe-zwykle-rzedowe/36198-6002-zz-cs-chf.html" title="6002 ZZ CS CHF">
            <img class="replace-2x img-responsive lazy img_0 img_1e" data-original="https://b2b.rombor.com.pl/138-home_default/6002-zz-cs-chf.jpg" src="https://b2b.rombor.com.pl/138-home_default/6002-zz-cs-chf.jpg" alt="6002 ZZ CS CHF" width="232" height="248" style="display: block;">
          </a>
        </div>
      </div>
      <div class="center-block col-xs-7 col-md-5">
        <h3 itemprop="name">
          <span class="notranslate">
            <a class="product-name" href="https://b2b.rombor.com.pl/l-kulkowe-zwykle-rzedowe/36198-6002-zz-cs-chf.html" title="6002 ZZ CS CHF">6002 ZZ CS CHF</a>
          </span>
        </h3>
        <div class="comments_note">
          <div class="star_content empty_comments clearfix">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
          </div>
        </div>
        <div class="product-flags"></div>
        <p class="product-desc">Łożyska kulkowe zwykłe 1-rzędowe Wymiar: 15 x 32 x 9</p>
        <div class="color-list-container"></div>
      </div>
      <div class="center-block col-xs-4 col-sm-7 col-md-2">
        <span class="availability">
          <span class="availabile_product">DOSTĘPNY</span>
        </span>
        <div class="stany" align="right">
          <strong>Stany magazynowe<br></strong>
          Centralny: 57369 szt.<br>
        </div>
        <p></p>
      </div>
      <div class="right-block col-xs-12 col-md-3">
        <div class="right-block-content">
          <div class="row">
            <div class="content_price col-xs-6 col-md-12">
              <span class="price product-price">1,02 zł</span>
            </div>
            <div class="button-container col-xs-6 col-md-12">
              <div class="pl-quantity-input-wrapper">
                <label><input type="text" name="qty" class="form-control qtyfield quantity_to_cart_36198" value="1"></label>
                <div class="quantity-input-b-wrapper">
                  <a href="#" data-field-qty="quantity_to_cart_36198" class="transition-300 pl_product_quantity_down">
                    <span><i class="icon-caret-down"></i></span>
                  </a>
                  <a href="#" data-field-qty="quantity_to_cart_36198" class="transition-300 pl_product_quantity_up">
                    <span><i class="icon-caret-up"></i></span>
                  </a>
                </div>
              </div>
              <a class="button ajax_add_to_cart_button btn btn-default" href="https://b2b.rombor.com.pl/koszyk?add=1&amp;id_product=36198&amp;token=889b4e7fb04433d9a08ad7bf8a2f4023" rel="nofollow" title="Dodaj do koszyka" data-id-product-attribute="0" data-id-product="36198" data-minimal_quantity="1">
                <span>Dodaj do koszyka</span>
              </a>
            </div>
            <div class="functional-buttons functional-buttons-list col-xs-12 col-md-12 clearfix">
              <div class="compare col-xs-3">
                <a rel="nofollow" class="add_to_compare" href="https://b2b.rombor.com.pl/l-kulkowe-zwykle-rzedowe/36198-6002-zz-cs-chf.html" data-id-product="36198" title="Dodaj do porówania">Dodaj do porównania</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
